@import './global.scss';

.contact {
    &__container {
        min-height: 80vh;
        background-color: $color-blue;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__title {
        font-size: 4em;
        -webkit-text-stroke: 1px #fff;
        color: $color-blue;
        font-family: 'Kostic';
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 50px;
        padding-bottom: 50px;
        @media(max-width: 500px){
            font-size: 2.5em;
            padding-bottom: 30px;
        }
    }

    &__section {
        padding: 0px 75px 0px 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media(max-width: 500px){
            flex-direction: column;
            padding: 0px 20px 0px 20px;
            align-items: center;
        }
    }

    &__text {
        text-align: start;
        color: #fff;
        font-family: 'Roboto-Thin';
        width: 60%;
        @media(max-width: 500px){
            text-align: center;
            width: 80%;
        }
    }

    &__img {
        height: 250px;
        width: 250px;
        border-radius: 10px;

        @media(max-width: 500px){
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &__mail{
        @media(max-width: 500px){
            font-size: 13px;
        }
    }
}