.footer {
    background-color: #02679a;
    color: white;
    padding: 30px;
    height: 15vh;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 500px) {
        height: 18vh;
    }

    &__text {
        font-family: 'Roboto';
        @media(max-width: 500px) {
            padding-bottom: 10px;
        }
    }

    &__logo {
        margin-right: 10%;
        color: #fff;
    }

    &__insta {
        color: #fff;
        font-size: 40px;
        bottom: 0;
    }

    @media(max-width: 500px) {
        flex-direction: column;
    }
}