$color-green :#049839;
$color-green-light :#66cc66;
$color-blue-light :#02679a;
$color-blue :#000033;
$color-orange :#ff6633;
$color-white: #EAE6E4;

.home {
    &-logo {
        height: 21em;
        width: 100%;
        max-width: 680px;

        @media(max-width:500px) {
            width: 100%;
            height: auto;
        }
    }

    &-container {
        background-image: url("../img/background-plante.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        background-color: #fff5d9;
        min-height: calc(100vh);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-text {
        &__green {
            color: $color-green;
        }

        &__orange {
            color: $color-orange;
            text-shadow: 2px 2px 0px white, 5px 4px 0px rgba(0, 0, 0, 0.15);

            &-span {
                color: $color-green;
            }
        }
    }

    &-button {
        background-color: $color-green-light;
        border: $color-green;
        color: #ffff;

        &:hover {
            background-color: $color-green;
            color: white;
        }

        &::after {
            background-color: #000033;
        }
    }
}

// Section des actions 

.actions {
    &-container {
        background-color: $color-green;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    &__title {
        color: #ffffff;
        text-shadow: 2px 2px 0px #000033, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &__card-group {
        width: 80%;
        height: 40%;

        @media(max-width:500px) {
            width: 100vw;
        }
    }

    &__carousel {
        padding: 50px 92px 50px 92px;


        &__card {
            &-title {
                font-size: 18px;
            }

            &-text {
                font-size: 13px;
            }

        }
    }
}

.about {
    &-container {
        min-height: 150vh;
        background-color: $color-white;
        padding: 20px;

        @media(max-width: 500px) {
            padding: 40px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;



    }

    &__title {
        -webkit-text-stroke: 1px $color-blue;
        color: $color-white;
    }

    &__subtitle {
        color: $color-green;
        text-shadow: 2px 2px 0px $color-green-light, 5px 4px 0px rgba(0, 0, 0, 0.15);
        font-size: 28px;
    }

    &__infos {
        &-section {
            margin-top: 10vh;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 75%;

            @media(max-width:500px) {
                width: 100%;
            }

            border-radius: 15px;
            background-color: rgba(255, 102, 51, 0.4);
            background-image: url(../img/picto.png);
            background-position: center;
            background-size: 30%;

            @media(max-width:500px) {
                background-size: 90%;
            }

            background-repeat: no-repeat;
            background-attachment: fixed;

        }
    }

    &__ekip {

        &__title {
            margin: 10vh 0 10vh 0;
        }

        &-section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85%;
            flex-wrap: wrap;
            gap: 10px;
        }

        &__card {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 10px;
            gap: 15px;
            border-radius: 15px;
            border: 2px solid $color-orange;
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.40);
            height: 7em;

            &-info {
                border-color: $color-blue-light;
            }

            &-partenariat {
                border-color: $color-green;
            }

            &-comm {
                border-color: #cfac11;
            }

            @media(max-width: 500px) {
                width: 100%;
            }

            &__cadre-img {
                box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 40%);
                border-radius: 100%;
                height: 60px;
                width: 60px;
                z-index: 1;
            }

            &__title {
                font-size: 20px;
                color: $color-green;
            }


            &__infos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &__job {
                display: flex;
                align-items: center;
                font-size: 15px;
                font-style: italic;
                color: #757575;


                &-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &-logo {
                    font-size: 20px;
                    margin-right: 3px;
                }
            }
        }
    }
}



// Section du bouton Scroll to Top

.cursor-pointer {
    cursor: pointer;
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.scroll-container .indicator {
    height: 100%;
    background: $color-orange;
}

.scroll-to-top {
    position: fixed;
    bottom: 12px;
    left: 1%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: $color-orange;
    color: #ffffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.28);
}

.scroll-to-top .icon {
    margin-top: 10px;
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translateY(2px);
    }

    to {
        transform: translateY(-1px);
    }
}