.nav {
    background-color: rgba(255, 255, 255, .80);  
    backdrop-filter: blur(5px);
    height: 11vh;

    &__title>img {
        height: 50px;
    }

    &__link {
        font-family: 'Roboto';
        color: white;
    }
}